<main>
  <h1>Recipes#index</h1>
  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_url(recipe), class: 'recipe' do %>
        <div>
          <h3><%= recipe.name %></h3>
        </div>
        <p><%= recipe.description %></p>
      <% end %>
      <%= link_to 'REMOVE', recipe_url(recipe), method: :delete %>
    <% end %>
  </div>
</main>
