/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0.2em 0.4em;
  cursor: pointer;
  position: relative;
  transition: border 50ms;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid tomato;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
  height: 5rem;
}

.header .logged-in {
  background-color: rgb(209, 209, 209);
  border-radius: 0.6em;
  padding: 0.2em 0.4em;
  font-weight: bold;
  color: rgb(32, 32, 32);
  cursor: pointer;
}

button,
input[type='submit'] {
  border: none;
}

.button {
  background-color: tomato;
  border-radius: 0.2rem;
  color: whitesmoke;
  transition: background-color 80ms;
  width: fit-content;
  padding: 0.2em 0.4em;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: rgb(231, 80, 54);
  border-radius: 0.2rem;
  color: whitesmoke;
}

.sign {
  margin-inline: 1rem;
}

.header .links {
  display: flex;
  gap: 0.4rem;
}
